body {
    font-family: sans-serif;
}
  
/* Make content area fill the entire browser window */
html,
.fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
  
/* Center the content in the browser window */
.container {
    width:450px;
    margin: auto;
    text-align: center;
    /*border:1px solid black;*/
}
  
.title {
    font-size: 3rem;
}

#terminal div {
    color: gray;
}

#terminal div.out {
    color: red;
}

#terminal div.in {
    color: blue;
}

#connect {
    color: green;
    height: 10%;
}
#disconnect {
    color: red;
    height: 10%;
}

#myProgress {
    width: 100%;
    background-color: lightgrey;
}
  
#myBarBlue {
    font-size: 1rem;
    text-align: center;
    height: 30px;
    background-color: blue;
    line-height: 30px;
}

#myBarRed {
    font-size: 1rem;
    text-align: center;
    height: 30px;
    background-color: red;
    line-height: 30px;
}


.slidecontainer {
    width: 100%;
 }